body
{
	background: white !important;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 100%;
}

#page
{
	background: white;
}

#page_centered
{
	width: 100%;
}

.contingut
{
	width: 100%;
	float: none;
}

.contingut .title-section h1
{
	border: 0 !important;
	padding: 0 !important;
}

.contingut .dintre_contingut
{
	padding: 1em 0 0 0 !important;
	border: 0 !important;
	font-size: 1.1em;
}

h1
{
	font-size: 2em;
	color: black;
}
/*
h2
{
	font-size: 1.4em;
	color: #333333;
	border-bottom: 1px solid #eeeeee;
}

h3
{
	font-size: 1.3em;
	color: #CC0000;
}

table
{
	margin: 0;
	padding: 0;
	width: 100%;
	border-collapse: collapse;
}

table thead tr th
{
	border-bottom: 1px solid #cccccc;
	text-align: left;
}

table tbody tr th
{
	border-bottom: 1px solid #eeeeee;
	font-weight: bold;
}

table tfoot tr td
{
	border-bottom: 1px solid #cccccc;
}

table tbody tr td
{
	padding: 0.3em;
	border-bottom: 1px solid #eeeeee;
}

table tbody tr:last-child td
{
	border-bottom: 0;
}

.horari tbody tr
{
	height: 3em;
}

table > td, table > th
{
	padding: 0.3em;
}

table thead th
{
	text-transform: uppercase;
	font-size: 0.8em;
	color: #333333;
}
*/

.horari .classe
{
	background: none !important;
	border: 0 !important;
}
table.horari{
	width: auto;
	border: 2px solid;
}
.horari td, .horari th{
	border: 2px solid;
	padding: 5px;
}
table.horari tfoot{
	display:none;	
}
.dintre_contingut
{
	font-size: 0.8em;
}

.dialog
{
	display: none;
}

#footer
{
	display: none;
}

.rss, .ical
{
	display: none;
}

.cap, .sidebar_left, .ariadna
{
	display: none;
}

.filtre
{
	display: none;
}

.action-buttons
{
	display: none;
}

p > .previous
{
	display: none;
}

.cellresposta {display:none}
.cellresposta.seleccionat {display:block}
